<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item" routerlinkactive="active" routerlink=" " >Accueil</li>
        <li class="breadcrumb-item" routerlinkactive="active" routerlink=" " >Enregistrement d'un pret</li>
    </ul>
</nav>
<nav aria-label="sidemenu">
    <ul class="sidemenu">
        <li class="sidemenu-item" routerlinkactive="active" routerlink=" ">Liste des prets</li>
        <li class="sidemenu-item" routerlinkactive="active" routerlink=" ">nouveau pret</li>
        <li class="sidemenu-item" routerlinkactive="active" routerlink=" ">Calendrier de remboursement</li>
        <li class="sidemenu-item" routerlinkactive="active" routerlink=" ">Dashboard</li>
    </ul>
</nav>