
<main class="d-flex justify-content-center mx-auto" *ngIf="datas$|async as datas">
  <div class="col-12">
    <div class="py-0 mb-3">
      <h2 class="text-dark text-center bg-light">Formulaire de saisie d'un prêt</h2>
      <div class="underline"></div>
    </div>
    <form [formGroup]="formulaire" class="form container-fluid rounded p-2 p-md-3" (ngSubmit)="onSubmit()" >
      <div class="row">
        <div class="col-md-6">
          <label for="resp">Responsable</label>
          <select
            name="choixresp"
            class="form-control reg-opacity"
            id="resp"
            formControlName="responsible"
          >
            <option *ngFor="let responsable of datas.responsibles" [value]="responsable.firstName +' '+responsable.lastName">{{responsable.firstName+' '+responsable.lastName}}</option>
          </select>
          <div *ngIf="formulaire.get('responsible')?.invalid && (formulaire.get('responsible')?.dirty||formulaire.get('responsible')?.touched)" >
            <small *ngIf="formulaire.get('responsible')?.errors?.['required']" class="text-danger">Veuillez entrer un responsable</small>
          </div>
        </div>
        <div class="col-md-6">
          <label for="client">Client</label>
          <select 
            name="client" 
            id="client"
            class="form-control reg-opacity"
            formControlName="client"
            >
            <option *ngFor="let client of datas.clients" [value]="client.companyName">{{client.companyName}}</option>
          </select>
          <div *ngIf="formulaire.get('client')?.invalid && (formulaire.get('client')?.dirty||formulaire.get('client')?.touched)" >
            <small *ngIf="formulaire.get('client')?.errors?.['required']" class="text-danger">Veuillez entrer un client</small>
          </div>
        </div> 
      </div>
      <div class="row">
        <div class="col-md-4">
          <label class="sr-only" for="inlineFormInputGroup">Montant prêt</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Ar</div>
            </div>
            <input
              type="number"
              name="pret"
              class="form-control reg-opacity"
              id="inlineFormInputGroup"
              min="0"
              placeholder="Montant prêt"
              formControlName="amount"
            />
          </div>
          <div *ngIf="formulaire.get('amount')?.invalid && (formulaire.get('amount')?.dirty||formulaire.get('amount')?.touched)" >
            <small *ngIf="formulaire.get('amount')?.errors?.['required']" class="text-danger">veuillez entrer un montant prêt</small>
            <small *ngIf="formulaire.get('amount')?.errors?.['min']" class="text-danger" >veuillez entrer un nombre positif</small>
          </div>
        </div>
        <div class="col-md-4">
          <label for="percentage">Pourcentage</label>
          <input
            type="number"
            name="pour"
            id="percentage"
            max="100"
            class="form-control reg-opacity"
            formControlName="percentage"
          />
          <div *ngIf="formulaire.get('percentage')?.invalid && (formulaire.get('percentage')?.dirty||formulaire.get('percentage')?.touched)" >
            <small *ngIf="formulaire.get('percentage')?.errors?.['required']" class="text-danger">veuillez entrer un pourcentage</small>
            <small *ngIf="formulaire.get('percentage')?.errors?.['min']" class="text-danger" >le pourcentage doit être positif</small>
          </div>
        </div>
        <div class="col-md-4">
          <label for="reimbursementMode">fréquence de remboursement </label>
          <select
            name="reimbursementMode"
            id="reimbursementMode"
            class="form-control reg-opacity"
            formControlName="repaymentFrequency"
          >
            <option *ngFor="let frequenceRemboursement of datas.frequencesRemboursement" [value]="frequenceRemboursement.interval">{{frequenceRemboursement.interval}}</option>
          </select>
          <div *ngIf="formulaire.get('repaymentFrequency')?.invalid && (formulaire.get('repaymentFrequency')?.dirty||formulaire.get('repaymentFrequency')?.touched)" >
            <small *ngIf="formulaire.get('repaymentFrequency')?.errors?.['required']" class="text-danger">veuillez entrer la fréquence de remboursement</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="loanDate">Date du prêt</label>
          <input type="date" class="form-control reg-opacity" id="loanDate" formControlName="loanDate"/>
          <div *ngIf="formulaire.get('loanDate')?.invalid && (formulaire.get('loanDate')?.dirty||formulaire.get('loanDate')?.touched)" >
            <small *ngIf="formulaire.get('loanDate')?.errors?.['required']" class="text-danger">veuillez entrer la date du prêt</small>
          </div>
        </div>
        <div class="col-md-6">
          <label for="reimbursementDate">Date de remboursement</label>
          <input
            type="date"
            class="form-control reg-opacity"
            id="reimbursementDate"
            formControlName="repaymentEndDate"
          />
          <div *ngIf="formulaire.get('repaymentEndDate')?.invalid && (formulaire.get('repaymentEndDate')?.dirty||formulaire.get('repaymentEndDate')?.touched)" >
            <small *ngIf="formulaire.get('repaymentEndDate')?.errors?.['required']" class="text-danger">veuillez entrer la date de remboursement</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="paymentMode">Mode de paiement</label>
          <select
            name="paymentMode"
            id="paymentMode"
            class="form-control reg-opacity"
            formControlName="benefitPaymentMethod"
          >
            <option *ngFor="let modePayement of datas.paymentsMethods" [value]="modePayement.label">{{modePayement.label}}</option>
          </select>
          <div *ngIf="formulaire.get('benefitPaymentMethod')?.invalid && (formulaire.get('benefitPaymentMethod')?.dirty||formulaire.get('benefitPaymentMethod')?.touched)" >
            <small *ngIf="formulaire.get('benefitPaymentMethod')?.errors?.['required']" class="text-danger">veuillez entrer le mode de paiement</small>
          </div>
        </div>
        <div class="col-md-6">
          <label for="interestPaymentMode">Mode de remboursement</label>
          <select
            name="interestPaymentMode"
            id="interestPaymentMode"
            class="form-control reg-opacity"
            formControlName="capitalPaymentMethod"
          >
            <option *ngFor="let modeRemboursement of datas.paymentsMethods" [value]="modeRemboursement.label">{{modeRemboursement.label}}</option>
          </select>
          <div *ngIf="formulaire.get('capitalPaymentMethod')?.invalid && (formulaire.get('capitalPaymentMethod')?.dirty||formulaire.get('capitalPaymentMethod')?.touched)" >
            <small *ngIf="formulaire.get('capitalPaymentMethod')?.errors?.['required']" class="text-danger">veuillez entrer le mode de remboursement</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label for="comment">Commentaire</label>
          <textarea
            name="comment"
            id="comment"
            rows="5"
            class="form-control reg-opacity"
            placeholder="Ajouter un commentaire..."
            formControlName="remark"
          ></textarea>
        </div>
      </div>
      <div class="buttonSubm d-flex justify-content-between mt-3">
        <p class="note">enregistrer une note ici</p>
        <button class="btn btn-secondary" [disabled]="formulaire.invalid" >enregistrer</button>
      </div>
    </form>
  </div>
</main>
