<table class="table">
    <thead>
      <tr>
        <th scope="col">ACTION</th>
        <th scope="col">CLIENT</th>
        <th scope="col">MONTANT PRET</th>
        <th scope="col">DATE DU PRET</th>
        <th scope="col">FIN DU CONTRAT</th>
        <th scope="col">MONTANT INTERET</th>
        <th scope="col">POURCENTAGE</th>
        <th scope="col">MODE DE PAIEMENT</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>