<div
  class="sideMenu d-flex flex-column vh-100 flex-shrink-0 p-3 text-white bg-dark align-items-center">
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      fill="currentColor"
      class="bi bi-bank2"
      viewBox="0 0 16 16"
    >
      <path
        d="M8.277.084a.5.5 0 0 0-.554 0l-7.5 5A.5.5 0 0 0 .5 6h1.875v7H1.5a.5.5 0 0 0 0 1h13a.5.5 0 1 0 0-1h-.875V6H15.5a.5.5 0 0 0 .277-.916l-7.5-5zM12.375 6v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM.5 15a.5.5 0 0 0 0 1h15a.5.5 0 1 0 0-1H.5z"
      /></svg>
      <span class="fs-4"> Bank</span>
  </a>
  <hr/>
  <button class="btn bg-secondary text-white col-12 mb-5">Dashboard</button>
  <ul  class="nav flex-row mb-auto ">
    <li
       *ngFor="let sideMenu of sideMenus; index as index"
      class="nav-item text-center">
      <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="sideMenus[index].path" (click)="onClick(index)"  class="nav-link text-white" aria-current="page">
        {{sideMenu.content}}
      </a>
    </li>
  </ul>
</div>
