// ::-webkit-scrollbar {
//     width: 10px;
//   }
  
//   /* Track */
//   ::-webkit-scrollbar-track {
//     background:var(--bs-dark); 
//   }
   
//   /* Handle */
//   ::-webkit-scrollbar-thumb {
//     background: #888; 
//   }
  
//   /* Handle on hover */
//   ::-webkit-scrollbar-thumb:hover {
//     background: #555; 
//   }


.nav-link:hover {
    cursor: pointer;
    background-color: #525252 !important
}

.nav-link .fa {
    transition: all 1s
}

.nav-link:hover .fa {
    transform: rotate(360deg)
}

svg{
    margin: 10px;
}
ul.nav{
    height: 40%;
    overflow-y: auto;
}
div a{
    margin-left: auto;
    margin-right: auto;
    transform: translateX(-10px);
}
div.sideMenu{
    position: sticky;
    top: 0;
    right: 0;
    a{
      border-bottom: 2px solid #525252;
    }
    ul{
      li{
        width: 100%;
      }
    }
}