@import '../../../@shared/style/couleur.scss';

nav{
    width: 80%;
    height: 100px;
    margin-bottom: 10px;
    ul{
        li{
            a{
                text-decoration: none;
                color: $secondary;
            }
            a.first{
                color: black;
            }
        }
    }
}
