

<nav aria-label="breadcrumb">
    <ul class="breadcrumb" id="accueil">
        <li class="breadcrumb-item" routerLinkActive="active" >Accueil</li>
        <li class="breadcrumb-item" routerLinkActive="active" >Enregistrement d'un pret</li>
    </ul>
</nav>
<nav aria-label="sidemenu">
    <ul class="breadcrumb">
        <li class="breadcrumb-item" routerlinkactive="active"><a routerLink="loan/liste">Liste des prets</a></li>
        <li class="breadcrumb-item" routerlinkactive="active" ><a routerLink="loan/create">nouveau pret</a></li>
        <li class="breadcrumb-item" routerlinkactive="active" ><a routerLink="">Calendrier de remboursement</a></li>
        <li class="breadcrumb-item" routerlinkactive="active"><a routerLink="">Dashboard</a></li>
    </ul>
</nav>


