.breadcrumb-item{
    font-weight:bold;
    border: solid 0.5px;
    border-radius:12px;
    margin:10px;
    background-color: rgba(54, 52, 52, 0.24);
    padding-right:10px;
    padding-left:10px;
}
.breadcrumb{
    margin-left:28%;
    position:absolute;
    top:17%;
}
#accueil{
    margin-left:42%;
    margin-top:auto;
    position:absolute;
    top:10%;
}
